In [ ]:
# Research the key objectives of EDA and summarize your findings in a brief report 
#Overview of data or task
#1. to check the first few rowsa 
# 2. to checks data types
# 3. to check missing values 
# 4. get summary statistics

In [1]:
import pandas as pd

# load the datset 
df = pd.read_csv("Titanic.csv")

In [3]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,1,3,Allison Hill,male,17,4,2,43d75413-a939-4bd1-a516-b0d47d3572cc,144.08,Q,1
1,2,1,Noah Rhodes,male,60,2,2,6334fa2a-8b4b-47e7-a451-5ae01754bf08,249.04,S,0
2,3,3,Angie Henderson,male,64,0,0,61a66444-e2af-4629-9efb-336e2f546033,50.31,Q,1
3,4,3,Daniel Wagner,male,35,4,0,0b6c03c8-721e-4419-afc3-e6495e911b91,235.20,C,1
4,5,1,Cristian Santos,female,70,0,3,436e3c49-770e-49db-b092-d40143675d58,160.17,C,1
...,...,...,...,...,...,...,...,...,...,...,...
995,996,2,Brittany Ward,male,69,2,3,75eb0e8f-a090-460d-a7c7-655a7b434a72,19.87,Q,1
996,997,2,Edward Stanley,female,61,4,4,e55b93ad-8976-4471-9d7f-57d1e45def26,85.35,C,0
997,998,3,Christina Johnson,male,10,4,1,d06d3943-c8b3-415e-b664-704355c9bf0f,444.22,C,0
998,999,3,Edgar Miller,male,50,3,2,0e5779ec-be1a-470f-ad83-a4c869f8d3e4,234.67,S,1
999,1000,1,Elizabeth Sanders,male,3,3,3,90a014ab-4ca1-4abd-8565-0e0bd5c97d5d,286.65,C,1

In [5]:
# display the first few rows
print(df.head())

   PassengerId  Pclass             Name     Sex  Age  SibSp  Parch  \
0            1       3     Allison Hill    male   17      4      2
1            2       1      Noah Rhodes    male   60      2      2
2            3       3  Angie Henderson    male   64      0      0
3            4       3    Daniel Wagner    male   35      4      0
4            5       1  Cristian Santos  female   70      0      3

                                 Ticket    Fare Embarked  Survived
0  43d75413-a939-4bd1-a516-b0d47d3572cc  144.08        Q         1
1  6334fa2a-8b4b-47e7-a451-5ae01754bf08  249.04        S         0
2  61a66444-e2af-4629-9efb-336e2f546033   50.31        Q         1
3  0b6c03c8-721e-4419-afc3-e6495e911b91  235.20        C         1
4  436e3c49-770e-49db-b092-d40143675d58  160.17        C         1

In [7]:
# check data type
print(df.dtypes)

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age              int64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
Survived         int64
dtype: object

In [9]:
# check missing values 
print(df.isnull().sum())

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
Survived       0
dtype: int64

In [11]:
#summary statistics
print(df.describe())

       PassengerId       Pclass          Age        SibSp        Parch  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean    500.500000     1.964000    38.458000     2.032000     2.005000
std     288.819436     0.820596    23.103723     1.424431     1.410306
min       1.000000     1.000000     1.000000     0.000000     0.000000
25%     250.750000     1.000000    19.000000     1.000000     1.000000
50%     500.500000     2.000000    36.500000     2.000000     2.000000
75%     750.250000     3.000000    59.000000     3.000000     3.000000
max    1000.000000     3.000000    79.000000     4.000000     4.000000

              Fare     Survived
count  1000.000000  1000.000000
mean    247.968650     0.492000
std     139.301211     0.500186
min      10.020000     0.000000
25%     126.295000     0.000000
50%     246.500000     0.000000
75%     365.662500     1.000000
max     499.780000     1.000000

In [ ]:
# Data Cleaning
1. To handle missing data by filling 
2. detect and remove outliers
3. encode categorials varaibles
4. Normalize or scale numerical data

In [19]:
#To handle missing data by filling 
df["Age"].fillna(df["Age"].median(), inplace=True)
df.dropna(subset=["Embarked"], inplace=True)

In [23]:
#  detect and remove outliers
Q1 = df["Fare"].quantile(0.25)
Q3 = df["Fare"].quantile(0.75)
X = Q3 - Q1
df =  df[~((df["Fare"] < (Q1 - 1.5 * X)) | (df["Fare"] >  (Q3 + 1.5 * X)))]
# df =  df[~((df["Fare"] < df["Fare"].mean()) / df["Fare"].std()]

In [25]:
#  encode categorials varaibles 
df = pd.get_dummies(df, columns=["Sex", "Embarked"], drop_first=True)

In [27]:
#Normalize or scale numerical data
df["Fare"] = (df["Fare"] < df["Fare"].mean()) / df["Fare"].std()

In [29]:
print(df.head())

   PassengerId  Pclass             Name  Age  SibSp  Parch  \
0            1       3     Allison Hill   17      4      2
1            2       1      Noah Rhodes   60      2      2
2            3       3  Angie Henderson   64      0      0
3            4       3    Daniel Wagner   35      4      0
4            5       1  Cristian Santos   70      0      3

                                 Ticket      Fare  Survived  Sex_male  \
0  43d75413-a939-4bd1-a516-b0d47d3572cc  0.007179         1      True
1  6334fa2a-8b4b-47e7-a451-5ae01754bf08  0.000000         0      True
2  61a66444-e2af-4629-9efb-336e2f546033  0.007179         1      True
3  0b6c03c8-721e-4419-afc3-e6495e911b91  0.007179         1      True
4  436e3c49-770e-49db-b092-d40143675d58  0.007179         1     False

   Embarked_Q  Embarked_S
0        True       False
1       False        True
2        True       False
3       False       False
4       False       False